/* Développée par Benstitou Sofiane */

/* Pinyon Script Regular 400 font-family: 'Pinyon Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
/* Font: Open Sans bold 700 : font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

body{
    background-color: #1a1d27;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

header{
    text-align: center;
    background-color: #171716;
    
    margin-bottom: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
}

curly{
    font-family: 'Pinyon Script', cursive;
}

app{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

app textarea{
    font-size: 20px;
    background-color: #1b1b1a;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

app textarea.textInput{
    color: #e8d56d;
    margin-bottom: 10px;

}
app textarea.mathInput{
    color: #76c5a4;

}

app button{
    font-size: 20px;
    margin-right: 5px;
    border: none;
    background-color: white;
    color: #171716;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 10px;
}
app button.orange{
    background-color: #fdad5d;
}
app button.purple{
    background-color: #af98e6;
}
app button.blue{
    background-color: #56c9db;
}
